/target
/Cargo.lock

[Bb]in/
[Oo]bj/
platforms/swift/strathweb.qsharp-bridge.sample/strathweb.qsharp-bridge.sample.xcodeproj/project.xcworkspace/xcuserdata/filipw.xcuserdatad/UserInterfaceState.xcuserstate
platforms/swift/strathweb.qsharp-bridge.sample/strathweb.qsharp-bridge.sample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
platforms/swift/strathweb.qsharp-bridge.sample/strathweb.qsharp-bridge.sample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
platforms/swift/strathweb.qsharp-bridge.sample/strathweb.qsharp-bridge.sample.xcodeproj/xcuserdata/filipw.xcuserdatad/xcschemes/xcschememanagement.plist
